<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style.css" media="screen"/>
<title>HaxBall League</title>
<script type="text/javascript"
src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js">
</script>
<script type="text/javascript">
$(document).ready(function () {
    // Code adapted from http://djangosnippets.org/snippets/1389/  
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
        replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function deleteForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount > 1) {
            // Delete the item/form
            $(btn).parents('.item').remove();
            var forms = $('.item'); // Get all the forms  
            // Update the total number of forms (1 less than before)
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;
            // Go through the forms and set their indices, names and IDs
            for (formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).children().children().each(function () {
                    if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                });
            }
        } // End if
        else {
            alert("You have to enter at least one team item!");
        }
        return false;
    }
    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // You can only submit a maximum of 10 todo items 
        if (formCount < 20) {
            // Clone a form (without event handlers) from the first form
            var row = $(".item:first").clone(false).get(0);
            // Insert it after the last form
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);
            // Remove the bits we don't want in the new row/form
            // e.g. error messages
            $(".errorlist", row).remove();
            $(row).children().removeClass("error");
            // Relabel or rename all the relevant bits
            $(row).children().children().each(function () {
                updateElementIndex(this, prefix, formCount);
                $(this).val("");
            });
            // Add an event handler for the delete item/form link 
            $(row).find(".delete").click(function () {
                return deleteForm(this, prefix);
            });
            // Update the total form count
            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        } // End if
        else {
            alert("Sorry, you can only enter a maximum of twenty items.");
        }
        return false;
    }
    // Register the click event handlers
    $("#add").click(function () {
        return addForm(this, "form");
    });
    $(".delete").click(function () {
        return deleteForm(this, "form");
    });
});
</script>
</head>
<body>
<div id="site-wrapper">

    {% block header %}
    <div id="header">

		<div id="top">

			<div id="logo">
				<a href="{% url 'leagues:index' %}"><img src="{{ STATIC_URL }}/img/hax_logo3.png" alt="" /></a>
			</div>

		</div>

	</div>
    {% endblock %}
    
    {% block content %}{% endblock %}
    
    {% block footer %}
    <div id="footer">

		<div class="left" id="footer-left">
			<p class="large"> <a href="{% url 'leagues:index' %}">Home</a> <span class="text-separator">|</span> <a href="{% url 'leagues:latest' %}">Latest leagues</a> <span class="text-separator">|</span> <strong><a href="https://github.com/slunzok/haxball-league">Source code!</a></strong> <span class="text-separator">|</span></p>
			<div class="clearer">&nbsp;</div>
		</div>

		<div class="right" id="footer-right">
		    <p>&copy; 2013 <a href="https://github.com/slunzok/">slunzok</a></p>
			<p class="quiet"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></p>
		</div>

		<div class="clearer">&nbsp;</div>

	</div>
    {% endblock %}

</div>
</body>
</html>
